/.ipynb_checkpoints
/.vscode
/CO_SWE
/IMS
/LSTM_model
/NSIDC
/Normalized_SNOTEL
/PRISM
/SNOTEL
/SnowCoverModeling
/attention_hyper_result
/co_prediction
/data
/ensemble_result
/extend_search.out
/extend_train.py
/extend_y_pred_station
/extend_y_pred_station-linear
/extend_y_pred_station0
/extend_y_true_station
/extend_y_true_station-linear
/extend_y_true_station0
/gridMET
/hyper_result
/hyper_result_extend
/jupyter.log
/penalty.out
/prism.nacse.org
/pythonbook.sh
/snotel_attributes_all.csv
/swe_snotel_prism_topo.nc
/tcnn.out
/tcnn_hyper_result
/utah.out
/utah_rocky_swe_snotel_prism_topo.nc
/wus_prism_topo_800m.nc
/wus_swe_snotel_prism_topo.nc
/ExtraGridMet/Attention_clean_lats
*.nc
*.pickle
*.tif
*.xml
*.npy
*.out
*.pyc
events*
*.yaml
epoch=*
*.ckpt
*.sh
